affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
annotated-doc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_annotated-doc_1762868213/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1774359453/work
asgiref==3.11.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
cachetools==7.0.5
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
charset-normalizer==3.4.7
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1775578217/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1750848229740/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
cogeo-mosaic==8.2.0
color-operations==0.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
cramjam==2.11.0
dnspython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dnspython_1757292856/work
email-validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1756221362582/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-core_1776364451/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-cli_1771293215/work
fastar @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_fastar_1776177847/work
geojson-pydantic==2.1.1
googleapis-common-protos==1.74.0
greenlet @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_greenlet_1775678994/work
grpcio==1.80.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools @ file:///Users/runner/miniforge3/conda-bld/httptools_1762504070708/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib_metadata==8.7.1
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1760831328738/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1772445084013/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
morecantile==6.2.0
numexpr==2.14.1
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1773839133/work/dist/numpy-2.4.3-cp311-cp311-macosx_11_0_arm64.whl#sha256=d504db6f6752aa32980f1be87016bf47029509a7c1bc04497fb49ec2e22945c2
-e git+https://github.com/decode-soumyadipta/common_project.git@d84196d54b2ef325d96cd93b3fe60d9261e59277#egg=offline_3d_gis_app
opentelemetry-api==1.41.0
opentelemetry-exporter-otlp==1.41.0
opentelemetry-exporter-otlp-proto-common==1.41.0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
opentelemetry-exporter-otlp-proto-http==1.41.0
opentelemetry-instrumentation==0.62b0
opentelemetry-instrumentation-asgi==0.62b0
opentelemetry-instrumentation-fastapi==0.62b0
opentelemetry-instrumentation-logging==0.62b0
opentelemetry-proto==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
opentelemetry-util-http==0.62b0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1776209387/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
protobuf==6.33.6
psycopg @ file:///home/conda/feedstock_root/build_artifacts/psycopg-split_1771456067035/work/psycopg
psycopg-binary==3.3.3
psycopg-c @ file:///Users/runner/miniforge3/conda-bld/psycopg-split_1771456168608/work/psycopg-c
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1776321089/work
pydantic-extra-types @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-extra-types_1775429718/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/pydantic-settings_1771527200044/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1776282223/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pyproj_1772623414/work
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pystac==1.14.3
pytest @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytest_1775644472/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1772388605/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-multipart_1775852154/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1770223350679/work
QtAwesome==1.4.2
QtPy==2.4.3
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1765559684269/work
requests==2.33.1
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1771977622/work
rio-cogeo==5.4.2
rio-stac==0.12.0
rio-tiler==7.9.5
ruff==0.15.11
shapely==2.1.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
shiboken6==6.11.0
simplejson==3.20.2
six==1.17.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_sqlalchemy_1775241436/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1774215956/work
starlette-cramjam==0.5.1
supermorecado==0.2.0
titiler-application==0.26.0
titiler-core==0.26.0
titiler-extensions==0.26.0
titiler-mosaic==0.26.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
typer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typer_1775138098/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1764158251755/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
urllib3==2.6.3
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_uvicorn_1775475773/work
uvloop @ file:///Users/runner/miniforge3/conda-bld/uvloop_1762472760210/work
watchfiles @ file:///Users/runner/miniforge3/conda-bld/watchfiles_1760456839480/work
websockets @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_websockets_1768087419/work/dist
wrapt==2.1.2
zipp==3.23.1
